@media (max-width: 768px) {
  .course-title {
    font-size: 1.1rem; /* Reducir tamaño de título en móviles */
  }

  .card-body {
    padding: 1rem !important; /* Reducir padding en móviles */
  }
}

/*title Popular courses*/
.popular-courses-header {
  text-align: start;
  margin-bottom: 20px;
}

.title-with-line {
  display: flex;
  align-items: center; /* Alinea verticalmente el título y la línea */
  gap: 15px; /* Espacio entre el título y la línea */
}

.popular-courses-header h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0; /* Eliminamos el margen inferior para mejor alineación */
  color: #001933;
}

.title-line {
  width: 120px; /* Ancho de la línea */
  height: 2px; /* Grosor de la línea */
  background-color: #001933; /* Color de la línea */
  /* Si la línea tiene un color diferente (ej. rojo, azul), cámbialo aquí */
}

.popular-courses-header p {
  font-size: 45px;
  color: #001933;
  font-weight: 700;
  margin-top: 10px; /* Espacio entre el título y el subtítulo */
}
.underline {
  text-decoration: underline;
  /* Opcional: Personalizar el subrayado */
  text-decoration-thickness: 3px; /* Grosor del subrayado */
  text-underline-offset: 3px; /* Espacio entre texto y subrayado */
  color: #e4263c;
}
